/* Landing Page */
html,body {
  font-family: 'Open Sans';
}

.navbar-item .avatar {
  margin-right: 5px;
}

.navbar-item .avatar img {
  border-radius: 50%;
  max-height: 2.75rem;
}

.navbar-menu.is-active {
  display: flex;
  justify-content: center;
  border-top: 1px solid #f2f2f2;
}

/* Projects Page */
html, body {
  font-family: 'Open Sans', serif;
  /* background: #F0F2F4; */
}
.card {
  margin-bottom: 3rem;
}
.content-wrapper {
  margin-top: 3rem;
}
.card-footer-item {
  font-size: 12px;
  font-weight: bold;
  color: #666;
}
.card-header-title {
  display: block;
}
.card-content p {
  margin-bottom: 2rem;
}
